  /* ---- Navbar ---- */

  nav {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F06F38;
  }

  nav span {
    width: 4px;
  }

  nav .logo-container {
    width: 140px;
    /* margin-top: 8px; */
    margin-left: 24px;
  }

  nav .logo-container .logo {
    width: 100%;
  }

  nav .nav-button {
    width: 100px;
    height: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #E5E1FF;
    color: #452048;
    border: none;
    /* margin-top: 16px; */
    margin-right: 32px;
    cursor: pointer;
  }

  nav .nav-button:disabled {
    width: 100px;
    height: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #E5E1FF;
    color: #452048;
    opacity: 40%;
    border: none;
    margin-right: 32px;
    cursor: none;
  }

  .dashboard-button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #E5E1FF;
    font-size: 14px;
    margin-right: 16px;
    cursor: pointer;
  }

  @media (max-width: 450px) {
    nav {
      width: 100%;
      height: 56px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #F06F38;
    }
  
    nav span {
      width: 4px;
    }
  
    nav .logo-container {
      width: 100px;
      /* margin-top: 8px; */
      margin-left: 8px;
    }
  
    nav .logo-container .logo {
      width: 80%;
    }
  
    nav .nav-button {
      width: 80px;
      height: 30px;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      letter-spacing: 0.8px;
      font-size: 12px;
      border-radius: 8px;
      background-color: #E5E1FF;
      color: #452048;
      border: none;
      /* margin-top: 16px; */
      margin-right: 16px;
      cursor: pointer;
    }
  
    nav .nav-button:disabled {
      width: 80px;
      height: 30px;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      letter-spacing: 0.8px;
      font-size: 12px;
      border-radius: 8px;
      background-color: #E5E1FF;
      color: #452048;
      opacity: 40%;
      border: none;
      /* margin-top: 16px; */
      margin-right: 16px;
      cursor: none;
    }
  
    .dashboard-button {
      border: none;
      background-color: rgba(255, 255, 255, 0);
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      color: #E5E1FF;
      font-size: 12px;
      margin-right: 8px;
      cursor: pointer;
    }
  }